{% extends 'store/_Master.html' %}
{% load static %}
{% load humanize %}
{% block title_tab %}EStore | Trang chủ{% endblock %}
     
{% block main_content %}
    <!-- Main Slider Start -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="header-slider normal-slider">
                        <div class="header-slider-item">
                            <img src="{% static 'store/sliders/slider-1.png' %}" alt="Slider Image" />
                        </div>
                        <div class="header-slider-item">
                            <img src="{% static 'store/sliders/slider-2.png' %}" alt="Slider Image" />
                        </div>
                        <div class="header-slider-item">
                            <img src="{% static 'store/sliders/slider-3.png' %}" alt="Slider Image" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="header-img">
                        <div class="img-item">
                            <img src="{% static 'store/images/dung-cu-nha-bep.png' %}" />
                            <a class="img-text" href="">
                                <p>Đồ dùng nhà bếp</p>
                            </a>
                        </div>
                        <div class="img-item">
                            <img src="{% static 'store/images/thiet-bi-gia-dinh.png' %}" />
                            <a class="img-text" href="">
                                <p>Thiết bị gia đình</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Slider End -->      
    
    <!-- Brand Start -->
    {% include 'store/parts/brands.html' %}
    <!-- Brand End -->      
    
    <!-- Feature Start-->
    <div class="feature">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fab fa-cc-mastercard"></i>
                        <h2>Secure Payment</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-truck"></i>
                        <h2>Worldwide Delivery</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-sync-alt"></i>
                        <h2>90 Days Return</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-comments"></i>
                        <h2>24/7 Support</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End-->           
    
    <!-- Call to Action Start -->
    <div class="call-to-action">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1>call us for any queries</h1>
                </div>
                <div class="col-md-6">
                    <a href="tel:0123456789">+012-345-6789</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to Action End -->       
    
    <!-- Featured Product Start -->
    <div class="featured-product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Đồ dùng nhà bếp</h1>
            </div>
            <div class="row align-items-center product-slider product-slider-4">

                {% for product in list_product_ddnb %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="{% url 'store:product_detail' product.pk %}">{{ product.name }}</a>
                            </div>
                            <div class="product-image">
                                <a href="{% url 'store:product_detail' product.pk %}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            </div>
                            <form method="post" action="{% url 'cart:buy_now' product.pk %}">
                                {% csrf_token %}
                                <div class="product-price">
                                    <h3>{{ product.price|floatformat:0|intcomma }}<span>đ</span></h3>
                                    <button type="submit" class="btn"><i class="fa fa-shopping-cart"></i>Mua ngay</button>
                                    <input name="quantity" type="hidden" value="1">
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Featured Product End -->       
    
    <!-- Newsletter Start -->
    <div class="newsletter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h1>Subscribe Our Newsletter</h1>
                </div>
                <div class="col-md-6">
                    <div class="form">
                        <input type="email" value="Your email here">
                        <button>Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->        
    
    <!-- Recent Product Start -->
    <div class="recent-product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Thiết bị gia đình</h1>
            </div>
            <div class="row align-items-center product-slider product-slider-4">

                {% for product in list_product_tbgd %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="{% url 'store:product_detail' product.pk %}">{{ product.name }}</a>
                            </div>
                            <div class="product-image">
                                <a href="{% url 'store:product_detail' product.pk %}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            </div>
                            <form method="post" action="{% url 'cart:buy_now' product.pk %}">
                                {% csrf_token %}
                                <div class="product-price">
                                    <h3>{{ product.price|floatformat:0|intcomma }}<span>đ</span></h3>
                                    <button type="submit" class="btn"><i class="fa fa-shopping-cart"></i>Mua ngay</button>
                                    <input name="quantity" type="hidden" value="1">
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <!-- Recent Product End -->    
        
{% endblock %}        
