{% extends 'store/_Master.html' %}
{% load static %}
{% block title_tab %}EStore | Đăng nhập{% endblock %}

{% block main_content %}
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
                <li class="breadcrumb-item active">Login & Register</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <!-- Login Start -->
    <div class="login">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">    
                    <div class="register-form">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ result_register|safe }}
                                </div>
                                <div class="col-md-6">
                                    <label>{{ form.ho.label }}</label>
                                    {{ form.ho }}
                                </div>
                                <div class="col-md-6">
                                    <label>{{ form.ten.label }}</label>
                                    {{ form.ten }}
                                </div>
                                <div class="col-md-12">
                                    <label>{{ form.email.label }}</label>
                                    {{ form.email }}
                                </div>
                                <div class="col-md-6">
                                    <label>{{ form.mat_khau.label }}</label>
                                    {{ form.mat_khau }}
                                </div>
                                <div class="col-md-6">
                                    <label>{{ form.xac_nhan_mat_khau.label }}</label>
                                    {{ form.xac_nhan_mat_khau }}
                                </div>
                                <div class="col-md-12">
                                    <label>{{ form.dien_thoai.label }}</label>
                                    {{ form.dien_thoai }}
                                </div>
                                <div class="col-md-12">
                                    <label>{{ form.dia_chi.label }}</label>
                                    {{ form.dia_chi }}
                                </div>
                                <div class="col-md-12">
                                    <button class="btn" type="submit" name="btnDangKy" value="Đăng ký">Đăng ký</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login-form">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ result_login|safe }}
                                </div>
                                <div class="col-md-6">
                                    <label>E-mail</label>
                                    <input class="form-control" type="email" placeholder="E-mail" name="email">
                                </div>
                                <div class="col-md-6">
                                    <label>Mật khẩu</label>
                                    <input class="form-control" type="password" placeholder="Mật khẩu" name="mat_khau">
                                </div>
                                <div class="col-md-12">
                                    <button class="btn" type="submit" name="btnDangNhap" value="Đăng nhập">Đăng nhập</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login End -->
        
{% endblock %}