{% extends 'store/_Master.html' %}
{% load static %}
{% load humanize %}
{% block title_tab %}EStore | {{ subcategory_name }}{% endblock %}
     
{% block main_content %}
        
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Trang chủ</a></li>
                <li class="breadcrumb-item active">{{ subcategory_name }}</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <!-- Product List Start -->
    <div class="product-view">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-12">

                            <form method="get">
                                <div class="product-view-top">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div>
                                                <h4>{{ subcategory_name }}</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="product-short">
                                                <div class="form-group">
                                                    <input type="number" required="" pattern="[1-9][0-9]{4,}" name="from_price" step="10000" min="10000" class="form-control" value="{{ from_price }}" placeholder="Từ giá" style="border: 1px solid #353535; color: #353535;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="product-price-range">
                                                <div class="form-group">
                                                    <input type="number" required="" pattern="[1-9][0-9]{4,}" name="to_price" step="10000" min="100000" class="form-control" value="{{ to_price }}" placeholder="Đến giá" style="border: 1px solid #353535; color: #353535;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="submit" class="btn">Lọc</button>
                                            <input type="hidden" name="product_name" value="{{ keyword }}">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        {% for product in products %}
                            <div class="col-md-4">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="{% url 'store:product_detail' product.pk %}">{{ product.name }}</a>
                                    </div>
                                    <div class="product-image">
                                        <a href="{% url 'store:product_detail' product.pk %}">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    </div>
                                    <form method="post" action="{% url 'cart:buy_now' product.pk %}">
                                        {% csrf_token %}
                                        <div class="product-price">
                                            <h3>{{ product.price|floatformat:0|intcomma }}<span>đ</span></h3>
                                            <button type="submit" class="btn"><i class="fa fa-shopping-cart"></i>Mua ngay</button>
                                            <input name="quantity" type="hidden" value="1">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                        
                    </div>
                    
                    <!-- Pagination Start -->
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">

                                {% if products.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1{% if request.GET.from_price %}&from_price={{ request.GET.from_price }}{% endif %}{% if request.GET.to_price %}&to_price={{ request.GET.to_price }}{% endif %}{% if request.GET.product_name %}&product_name={{ request.GET.product_name }}{% endif %}">Đầu</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Đầu</a>
                                    </li>
                                {% endif %}

                                {% if products.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ products.previous_page_number }}{% if request.GET.from_price %}&from_price={{ request.GET.from_price }}{% endif %}{% if request.GET.to_price %}&to_price={{ request.GET.to_price }}{% endif %}{% if request.GET.product_name %}&product_name={{ request.GET.product_name }}{% endif %}">Trước</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Trước</a>
                                    </li>
                                {% endif %}

                                {% if products.number > 5 %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                {% endif %}

                                {% for i in products.paginator.page_range %}
                                    {% if i > products.number|add:"-5" %}
                                        {% if i < products.number|add:"5" %}
                                            {% if products.number == i %}
                                                <li class="page-item active"><a class="page-link" href="?page={{ i }}{% if request.GET.from_price %}&from_price={{ request.GET.from_price }}{% endif %}{% if request.GET.to_price %}&to_price={{ request.GET.to_price }}{% endif %}{% if request.GET.product_name %}&product_name={{ request.GET.product_name }}{% endif %}">{{ i }}</a></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.from_price %}&from_price={{ request.GET.from_price }}{% endif %}{% if request.GET.to_price %}&to_price={{ request.GET.to_price }}{% endif %}{% if request.GET.product_name %}&product_name={{ request.GET.product_name }}{% endif %}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% if products.number < products.paginator.num_pages|add:"-4" %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                {% endif %}

                                {% if products.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ products.next_page_number }}{% if request.GET.from_price %}&from_price={{ request.GET.from_price }}{% endif %}{% if request.GET.to_price %}&to_price={{ request.GET.to_price }}{% endif %}{% if request.GET.product_name %}&product_name={{ request.GET.product_name }}{% endif %}">Sau</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Sau</a>
                                    </li>
                                {% endif %}

                                {% if products.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ products.paginator.num_pages }}{% if request.GET.from_price %}&from_price={{ request.GET.from_price }}{% endif %}{% if request.GET.to_price %}&to_price={{ request.GET.to_price }}{% endif %}{% if request.GET.product_name %}&product_name={{ request.GET.product_name }}{% endif %}">Cuối</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Cuối</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                    <!-- Pagination Start -->
                </div>           
                
                <!-- Side Bar Start -->
                <div class="col-lg-3 sidebar">
                    <div class="sidebar-widget category">
                        <h2 class="title">Danh mục sản phẩm</h2>
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                                {% for subcategory in subcategories %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'store:subcategory' subcategory.pk %}"><i class="fa fa-angle-double-right"></i>{{ subcategory.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    
                    <div class="sidebar-widget widget-slider">
                        <div class="sidebar-slider normal-slider">

                            {% for product in product_slide %}
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="{% url 'store:product_detail' product.pk %}">{{ product.name }}</a>
                                    </div>
                                    <div class="product-image">
                                        <a href="{% url 'store:product_detail' product.pk %}">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    </div>
                                    <form method="post" action="{% url 'cart:buy_now' product.pk %}">
                                        {% csrf_token %}
                                        <div class="product-price">
                                            <h3>{{ product.price|floatformat:0|intcomma }}<span>đ</span></h3>
                                            <button type="submit" class="btn"><i class="fa fa-shopping-cart"></i>Mua ngay</button>
                                            <input name="quantity" type="hidden" value="1">
                                        </div>
                                    </form>
                                </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    
                </div>
                <!-- Side Bar End -->
            </div>
        </div>
    </div>
    <!-- Product List End -->  
    
    <!-- Brand Start -->
    {% include 'store/parts/brands.html' %}
    <!-- Brand End -->
{% endblock %}
     