{% load static %}
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="{% static 'store/brands/lg.png' %}" alt="lg"></div>
            <div class="brand-item"><img src="{% static 'store/brands/panasonic.png' %}" alt="panasonic"></div>
            <div class="brand-item"><img src="{% static 'store/brands/philips.png' %}" alt="philips"></div>
            <div class="brand-item"><img src="{% static 'store/brands/samsung.png' %}" alt="samsung"></div>
            <div class="brand-item"><img src="{% static 'store/brands/sharp.png' %}" alt="sharp"></div>
            <div class="brand-item"><img src="{% static 'store/brands/sunhouse.png' %}" alt="sunhouse"></div>
        </div>
    </div>
</div>